<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings"
                      type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ACE.Properties.Settings"
                     type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                     requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <ACE.Properties.Settings>
            <setting name="ACE_DB_PASSWORD" serializeAs="String">
                <value>testuser123</value>
            </setting>
            <setting name="DEBUG_MODE" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="USE_TASK_MAX_TIME" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LOG_DIRECTORY" serializeAs="String">
                <value>C:\tmp\logs\ace_engine</value>
            </setting>
            <setting name="ACE_DB_USER" serializeAs="String">
                <value>testuser</value>
            </setting>
            <setting name="ACE_DB_TARGET" serializeAs="String">
                <value>TestDB</value>
            </setting>
            <setting name="ACE_DB_MACHINE" serializeAs="String">
                <value>TestMachine</value>
            </setting>
        </ACE.Properties.Settings>
    </applicationSettings>
</configuration>
